@font-face {
    font-family: 'Notosans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/NotoSansJP-Regular.woff2') format('woff');
}

@font-face {
    font-family: 'Notosans';
    font-style: normal;
    font-weight: 500;
    src:url('fonts/NotoSansJP-Medium.woff2') format('woff');
}

@font-face {
    font-family: 'Notosans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/NotoSansJP-Bold.woff2') format('woff');
}