@use "../config/config"as config;

.loading {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    &__mask {
        img{
            width: 600px;
        }
    }
}

// @keyframes mask{
//     100% {
//         stroke-dashoffset: 0;
//     }
// }

// @keyframes GWQHPXgw_fade {
//     0% {
//         stroke-opacity: 1;
//     }

//     94.44444444444444% {
//         stroke-opacity: 1;
//     }

//     100% {
//         stroke-opacity: 0;
//     }
// }