@use "../config/config"as config;

.menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;

    &__list {
        position: fixed;
        width: 100%;
        height: 100vh;

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: calc(100% / 3);
            background: rgba(0, 0, 0, .8);
            transform: translateX(100%);
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }

        &__wrap {
            position: relative;
            width: 100%;
            height: 100%;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: calc(100% / 3);
                background: rgba(0, 0, 0, .8);
                top: 33.3%;
                transform: translateX(100%);
            }
        }
    }


    &__toggle {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 3%;
        right: 1.5%;
        border-radius: 50%;
        background: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s linear;
        cursor: pointer;
        z-index: 2000;
        overflow: hidden;

        &:hover {
            background: #f4f433;

            .menu__toggle__btn {
                button {

                    &:before {
                        animation: lines .15s linear forwards;
                        animation-delay: .1s;
                    }
                }

                &:before,
                &:after {
                    animation: lines .2s linear forwards;
                }

                &:after {
                    animation-delay: .2s;
                }
            }
        }

        &__btn {
            width: 40px;
            height: 40px;
            position: relative;

            button {
                appearance: none;
                border: none;
                width: 40px;
                height: 40px;
                position: relative;

                &:before {
                    content: "";
                    height: 3px;
                    background: #333;
                    width: 30px;
                    line-height: 0;
                    padding: 0;
                    position: absolute;
                    top: 16px;
                    right: 0;
                }
            }


            &:before,
            &:after {
                content: "";
                position: absolute;
                height: 3px;
                background: #333;
                right: 0;
            }

            &:before {
                top: 10px;
                width: 20px;

            }

            &:after {
                bottom: 10px;
                width: 40px;

            }
        }
    }
}

.js-open {
    .menu__list {

        &:before,
        &:after {
            animation: bgblack .3s linear forwards;
        }

        &:before {
            animation-delay: .4s;
        }

        &::after {
            animation-delay: .2s;
        }

        &__wrap {
            &:before {
                animation: bgblack .3s linear forwards;
                animation-delay: .3s;
            }
        }
    }

    .menu__toggle {
        

        &__btn {

            &:before,
            &:after {
                animation: lineClick .3s linear forwards;
            }

            button {
                &:before {
                    animation: lineClick .3s linear forwards;
                }
            }
        }
        //js-open とjs-closeでつけたら？

    }

}

@keyframes lines {
    0% {
        width: 0;
    }

    100% {}
}

@keyframes bgblack {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes lineClick {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-350%);
    }

    100%{
        transform: translateX(-350%);
        display: none;
    }
}