@use "../config/config"as config;

.menu {

   
     

    &__list {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        pointer-events: none;
       

        &__wrap {
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                position: relative;
                z-index: 1;
                opacity: 0;

                li {
                    text-align: center;

                    a {
                        color: #FFF;
                        font-size: 2.5rem;
                        padding: 20px;
                        display: inline-block;
                        font-weight: 700;
                        transition: .2s;
                        position: relative;

                        &:after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 2px;
                            background: #FFF;
                            bottom: 15px;
                            left: 50%;
                            transform: translateX(-50%);
                            transition: .2s;
                        }

                        &:hover {
                            letter-spacing: 6px;

                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }

        }



        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: calc(100% / 3);
            background: rgba(0, 0, 0, .9);
            transform: translateX(100%);
            transition: .2s;
        }

        &:before {
            top: 0;
            transition-delay: .4s;
        }

        &:after {
            bottom: 0;
            transition-delay: .2s;
        }

        &__wrap {
            position: relative;
            width: 100%;
            height: 100%;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: calc(100% / 3);
                background: rgba(0, 0, 0, .9);
                top: 33.3%;
                transform: translateX(100%);
                transition: .2s;
                transition-delay: .3s;
            }
        }
    }


    &__toggle {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 3%;
        right: 1.5%;
        border-radius: 50%;
        background: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        z-index: 2000;
        overflow: hidden;
        transition: .2s;


        &:hover {
            background: config.$activecolor;

            .js-close {
                button {

                    &:before {
                        animation: lines .15s linear forwards;
                        animation-delay: .1s;
                    }
                }

                &:before,
                &:after {
                    animation: lines .2s linear forwards;
                }

                &:after {
                    animation-delay: .2s;
                }
            }

        }

        &__btn {
            width: 40px;
            height: 40px;
            position: relative;

            button {
                appearance: none;
                border: none;
                width: 40px;
                height: 40px;
                position: relative;
                border: none;
                outline: none;


                &:before {
                    content: "";
                    height: 3px;
                    background: config.$textcolor;
                    width: 30px;
                    line-height: 0;
                    padding: 0;
                    position: absolute;
                    top: 16px;
                    right: 0;
                }
            }


            &:before,
            &:after {
                content: "";
                position: absolute;
                height: 3px;
                background: config.$textcolor;
                right: 0;
            }

            &:before {
                top: 10px;
                width: 20px;
            }

            &:after {
                bottom: 10px;
                width: 40px;
            }
        }
    }
}

.js-active {
    .menu__list {
        pointer-events: initial;

        &:before,
        &:after {
            transform: translateX(0);
        }


        &__wrap {
            ul {
                animation: fadeIn .3s linear forwards;
                animation-delay: .8s;

            }

            &:before {
                transform: translateX(0);
            }
        }
    }

    .menu__toggle {
        &:hover {
            background: config.$subcolor;
        }

        &__btn {

            &:before,
            &:after {
                animation: lineClick .3s linear forwards;
            }

            button {
                &:before {
                    animation: lineClick .3s linear forwards;
                }

                &:after {
                    content: "閉";
                    font-size: 3rem;
                    font-weight: 700;
                    line-height: 1;
                    transform: translateY(-100px);
                    animation: close .05s linear forwards;
                    animation-delay: .05s;
                    display: block;

                }
            }
        }

        &:hover {
            .menu__toggle__btn {
                button {
                    opacity: .5;
                }
            }
        }

    }
}




@keyframes lines {
    0% {
        width: 0;
    }

    100% {}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lineClick {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-350%);
    }

    100% {
        transform: translateX(-350%);
        display: none;
    }
}

@keyframes close {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}