@use "../config/config"as config;


.ningen {
    position: absolute;
    bottom: -20%;
    width: 100%;
    z-index: 3000;

    img {
        width: 100%;
    }
    &__body {
        width: 57%;
        position: relative;
        margin-left: 37%;
       
    }
    &__arm {
        position: absolute;
        width: 32%;
        right: 49%;
        top: 11%;
        z-index: 3;
    }
    &__face {
        position: absolute;
        z-index: 1;
        width: 59%;
        top: -17%;
        right: 5%;
        animation: face 3s cubic-bezier(.17, .67, .83, .67) infinite;

        &__eye {

            &__open {
                position: absolute;

                width: 38%;
                top: 31%;
                right: 53%;
                z-index: 2;
                animation: eyeOpen 4s cubic-bezier(.17, .67, .83, .67) 4s infinite;

                img {
                    transform-origin: right bottom;
                    animation: face 3s cubic-bezier(.17, .67, .83, .67) infinite;
                }

            }

            &__close {
                position: absolute;
                width: 39%;
                top: 35%;
                right: 54%;
                z-index: 2;
                opacity: 0;
                animation: eyeClose 4s cubic-bezier(.17, .67, .83, .67) 4s infinite;
                animation-delay: 4s;

                img {
                    transform-origin: right bottom;
                    animation: face 3s cubic-bezier(.17, .67, .83, .67) infinite;
                }

            }
        }
    }

}
.comment {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;

    ul {
        li {
            position: absolute;
            font-size: 1.3vw;
            opacity: 0;
        
        }
    }

    &__no1 {
        bottom: 50%;
        right: -17%;
        animation: fadeIn .5s cubic-bezier(.17, .67, .83, .67) forwards;
        animation-delay: 9s;
    }

    &__no2 {
        bottom: 35%;
        left: 10%;
        animation: fadeIn .5s cubic-bezier(.17, .67, .83, .67) forwards;
        animation-delay: 10s;
    }
}


.fukidashi {
    position: absolute;
    bottom: 55%;
    left: 0%;
    width: 50%;
    display: flex;
    justify-content: center;
    z-index: 5;
    animation: fuwafuwa 3s infinite ease-in-out;
    animation-delay: 3s;

    img {
        animation: fukidashi 1s ease-out forwards;
        animation-delay: 4s;
        opacity: 0;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        background: #ddd;
        opacity: 0;
        animation: fadeIn .2s cubic-bezier(.17, .67, .83, .67) forwards;

    }

    &:before {
        left: 83%;
        top: 88%;
        width: 9%;
        height: 12%;
        animation-delay: 3.5s;
    }

    &:after {
        left: 94%;
        top: 100%;
        width: 6%;
        height: 8%;
        animation-delay: 3s;
    }

    &__comment {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            li {
                font-size: 2.8vw;
                width: 0;
                overflow: hidden;
                display: inline-block;
                animation: dots 6s cubic-bezier(.17, .67, .83, .67) infinite;
                animation-delay: 5s;
                text-align: center;
                font-weight: 700;
                &:not(:first-child){
                    display: none;
                }
            }
        }
    }
}


@keyframes face {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(0);
    }

}

@keyframes eyeOpen {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

@keyframes eyeClose {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fukidashi {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
        transform: scale(0.7);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.7);
    }

    80% {
        transform: scale(1);
    }

    100% {
        opacity: 1;
    }
}


@keyframes fuwafuwa {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes dots {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}