/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./asset_src/stylesheets/style.scss ***!
  \*****************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: "Notosans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/NotoSansJP-Regular.woff2") format("woff");
}
@font-face {
  font-family: "Notosans";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/NotoSansJP-Medium.woff2") format("woff");
}
@font-face {
  font-family: "Notosans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/NotoSansJP-Bold.woff2") format("woff");
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: auto;
}
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-delay: -1ms;
            animation-delay: -1ms;
    -webkit-animation-duration: 1ms;
            animation-duration: 1ms;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    background-attachment: initial;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}

html {
  background: inherit;
  vertical-align: baseline;
  word-break: normal;
  color: inherit;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
  overflow: visible;
}
hr:not([size]) {
  height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit inherit 500 unset/1.2 inherit;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0;
}

abbr[title],
abbr[data-bs-original-title],
acronym[title],
acronym[data-bs-original-title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  font: normal inherit inherit/inherit inherit;
  margin: 0;
}

ol,
ul {
  padding-left: 0;
}

ol,
ul,
dl {
  margin: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

dt {
  margin: 0;
}

dd {
  margin: 0;
}

blockquote {
  margin: 0;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.2em;
  background-color: currentColor;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  cursor: pointer;
  color: #3333e1;
  background-color: transparent;
  text-decoration: none;
  word-break: break-word;
}
a:hover {
  color: #3434e0;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:not([href]):not(class), a:not([href]):not([class]):hover {
  cursor: default;
  color: inherit;
  text-decoration: none;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

pre,
code,
kbd,
samp {
  font: 1.05em "Fira Code", "Cascadia Code", Consolas, "Inconsolata", Monaco, Menlo, "Noto Mono", "Roboto Mono", "Droid Sans Mono", "Ubuntu Mono", "Ubuntu Monospace", "Source Code Pro", "Oxygen Mono", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.875em;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: inherit;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: inherit;
  background-color: inherit;
  border-radius: 0.2rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0;
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: top;
}

svg:not([fill]) {
  fill: currentColor;
}
svg:not(:root) {
  overflow: hidden;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
  text-indent: 0;
  border-color: currentColor;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: inherit;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
  text-transform: none;
}
button:focus {
  outline: dotted 1px;
  outline: -webkit-focus-ring-color auto 5px;
}

input,
button {
  overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-transform: none;
  word-wrap: normal;
}
select:not([multiple]):not([size]) {
  background-image: "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E";
}

::-ms-expand {
  display: none;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(disabled),
[type=button]:not(disabled),
[type=reset]:not(disabled),
[type=submit]:not(disabled) {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
  -ms-overflow-style: scrollbar;
  resize: vertical;
  vertical-align: top;
}

fieldset {
  min-width: 0;
  padding: 0.35em 0.75em 0.625em;
  margin: 0;
  border: 1px solid inherit;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
  max-width: 100%;
  white-space: normal;
}
@media (max-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

input::-webkit-input-placeholder {
  opacity: 1;
}

input::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder {
  opacity: 1;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

[type=tel],
[type=url],
[type=email],
[type=number] {
  direction: ltr;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-moz-ui-invalid {
  box-shadow: none;
}

::-moz-focusring {
  outline: 1px dotted ButtonText;
}

output {
  display: inline-block;
}

iframe {
  border: none;
}

audio,
canvas,
video {
  display: inline;
  display: inline-block;
  zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden=false][hidden=false] {
  display: initial;
}
[aria-hidden=false][hidden=false]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

body {
  color: #000000;
  font-size: 1.6em;
  line-height: 1.9;
  font-family: "Notosans", sans-serif;
  letter-spacing: 0;
  position: relative;
  cursor: none;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.marker {
  position: absolute;
}
.marker span {
  width: 0;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: -20px;
  background: #eaff00;
  -webkit-transform: skew(10deg) rotate(-2deg);
          transform: skew(10deg) rotate(-2deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  mix-blend-mode: multiply;
  -webkit-animation: marker 0.3s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
          animation: marker 0.3s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media screen and (max-width: 767px) {
  .marker span {
    height: 20px;
  }
}
.marker span:before, .marker span:after {
  content: "";
  position: absolute;
  top: 0;
  width: 15px;
  height: 100%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  background: #e8e80c;
  border-radius: 50%;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
}
@media screen and (max-width: 767px) {
  .marker span:before, .marker span:after {
    width: 10px;
  }
}
.marker span:before {
  left: -10px;
  opacity: 0;
  -webkit-animation: fadeIn 0.1s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
          animation: fadeIn 0.1s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media screen and (max-width: 767px) {
  .marker span:before {
    left: -5px;
  }
}
.marker span:after {
  right: -10px;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
          animation: fadeIn 0.5s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media screen and (max-width: 767px) {
  .marker span:after {
    right: -5px;
  }
}
.marker__s {
  position: relative;
  display: inline;
  font-weight: 500;
}
.marker__s:before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 5px;
  background: #eaff00;
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  mix-blend-mode: multiply;
  -webkit-animation: marker__s 0.2s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
          animation: marker__s 0.2s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  z-index: -2;
}
.marker__s span {
  position: relative;
}
.marker__s span:before, .marker__s span:after {
  content: "";
  position: absolute;
  top: 0;
  width: 5px;
  height: 100%;
  background: #e8e80c;
  border-radius: 50%;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  z-index: -1;
  opacity: 0;
}
.marker__s span:before {
  left: 0;
  opacity: 0;
  -webkit-animation: fadeIn 0.1s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
          animation: fadeIn 0.1s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.marker__s span:after {
  right: -5px;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.28, 0.99, 0.59, 0.82) 5s forwards;
          animation: fadeIn 0.5s cubic-bezier(0.28, 0.99, 0.59, 0.82) 5s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes marker {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% + 40px);
  }
}

@keyframes marker {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% + 40px);
  }
}
@-webkit-keyframes marker__s {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes marker__s {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.loading {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 8000;
  pointer-events: none;
}
.loading:before, .loading:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 33.3333333333%;
  background: #FFF;
  -webkit-animation: loaderbg 0.2s linear forwards;
          animation: loaderbg 0.2s linear forwards;
}
.loading:before {
  top: 0;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.loading:after {
  bottom: 0;
  -webkit-animation-delay: 4.4s;
          animation-delay: 4.4s;
}
.loading__mask {
  position: relative;
  z-index: 1;
  -webkit-animation: fadeOut 0.2s linear forwards;
          animation: fadeOut 0.2s linear forwards;
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
  text-align: center;
}
.loading__mask img {
  width: 450px;
  -webkit-animation: fadeIn 1.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
          animation: fadeIn 1.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
}
@media screen and (max-width: 767px) {
  .loading__mask img {
    width: 80%;
  }
}
.loading__mask .marker {
  width: 345px;
  top: 80px;
  left: 30px;
}
@media screen and (max-width: 767px) {
  .loading__mask .marker {
    width: 53%;
    top: 53%;
    left: 20%;
  }
}
.loading__mask .marker span {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.loading__mask .marker span::before, .loading__mask .marker span::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.loading__bg {
  position: absolute;
  width: 100%;
  height: 33.3333333333%;
  background: #fff;
  top: 33.3333333333%;
  -webkit-animation: loaderbg 0.2s linear forwards;
          animation: loaderbg 0.2s linear forwards;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

@-webkit-keyframes loaderbg {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes loaderbg {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.cursor {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}
@media screen and (max-width: 820px) {
  .cursor {
    display: none;
  }
}

.cursor {
  width: 8px;
  height: 8px;
  background-color: #000000;
  z-index: 20000;
}
.cursor::before, .cursor::after {
  content: "";
  position: absolute;
  border: solid 2px #000000;
  border-radius: 50%;
}
.cursor:before {
  width: 14px;
  height: 14px;
  left: -3px;
  top: -3px;
  -webkit-animation: flash 1s linear infinite;
          animation: flash 1s linear infinite;
}
.cursor:after {
  width: 20px;
  height: 20px;
  left: -6px;
  top: -6px;
  -webkit-animation: flash 1s linear infinite;
          animation: flash 1s linear infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.cursor.js-menu {
  background-color: #f4f433;
}
.cursor.js-menu:before, .cursor.js-menu:after {
  border-color: #f4f433;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
.menu__list {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5000;
  pointer-events: none;
}
.menu__list__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list__wrap ul {
  position: relative;
  z-index: 1;
  opacity: 0;
}
.menu__list__wrap ul li {
  text-align: center;
}
.menu__list__wrap ul li a {
  color: #FFF;
  font-size: 2.5rem;
  padding: 20px;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}
@media screen and (max-width: 767px) {
  .menu__list__wrap ul li a {
    font-size: 2rem;
  }
}
.menu__list__wrap ul li a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #FFF;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu__list__wrap ul li a:hover {
  letter-spacing: 6px;
}
.menu__list__wrap ul li a:hover:after {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .menu__list__wrap ul li a:hover {
    letter-spacing: 0;
  }
  .menu__list__wrap ul li a:hover:after {
    content: none;
  }
}
.menu__list:before, .menu__list:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 33.3333333333%;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu__list:before {
  top: 0;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu__list:after {
  bottom: 0;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu__list__wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.menu__list__wrap:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 33.3333333333%;
  background: rgba(0, 0, 0, 0.9);
  top: 33.3333333333%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu__toggle {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 3%;
  right: 1.5%;
  border-radius: 50%;
  background: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 6000;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 767px) {
  .menu__toggle {
    width: 75px;
    height: 75px;
    top: 10px;
    right: 10px;
  }
}
.menu__toggle:hover {
  background: #f4f433;
}
@media screen and (max-width: 767px) {
  .menu__toggle:hover {
    background: #ddd;
  }
}
.menu__toggle:hover .js-close button:before {
  -webkit-animation: lines 0.15s linear forwards;
          animation: lines 0.15s linear forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.menu__toggle:hover .js-close:before, .menu__toggle:hover .js-close:after {
  -webkit-animation: lines 0.2s linear forwards;
          animation: lines 0.2s linear forwards;
}
.menu__toggle:hover .js-close:after {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.menu__toggle__btn {
  width: 40px;
  height: 40px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .menu__toggle__btn {
    width: 30px;
    height: 30px;
    top: -3px;
  }
}
.menu__toggle__btn button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  outline: none;
}
@media screen and (max-width: 767px) {
  .menu__toggle__btn button {
    width: 30px;
    height: 30px;
  }
}
.menu__toggle__btn button:before {
  content: "";
  height: 3px;
  background: #000000;
  width: 30px;
  line-height: 0;
  padding: 0;
  position: absolute;
  top: 17px;
  right: 0;
}
@media screen and (max-width: 767px) {
  .menu__toggle__btn button:before {
    width: 30px;
    top: 17px;
  }
}
.menu__toggle__btn:before, .menu__toggle__btn:after {
  content: "";
  position: absolute;
  height: 3px;
  background: #000000;
  right: 0;
}
.menu__toggle__btn:before {
  top: 10px;
  width: 20px;
}
@media screen and (max-width: 767px) {
  .menu__toggle__btn:before {
    top: 9px;
  }
}
.menu__toggle__btn:after {
  bottom: 10px;
  width: 40px;
}
@media screen and (max-width: 767px) {
  .menu__toggle__btn:after {
    bottom: 11px;
    width: 25px;
  }
}

.js-active .menu__list {
  pointer-events: initial;
}
.js-active .menu__list:before, .js-active .menu__list:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.js-active .menu__list__wrap ul {
  -webkit-animation: fadeIn 0.3s linear forwards;
          animation: fadeIn 0.3s linear forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.js-active .menu__list__wrap:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.js-active .menu__toggle:hover {
  background: #eeeeee;
}
@media screen and (max-width: 767px) {
  .js-active .menu__toggle:hover {
    background: #ddd;
  }
}
.js-active .menu__toggle__btn:before, .js-active .menu__toggle__btn:after {
  -webkit-animation: lineClick 0.3s linear forwards;
          animation: lineClick 0.3s linear forwards;
}
.js-active .menu__toggle__btn button:before {
  -webkit-animation: lineClick 0.3s linear forwards;
          animation: lineClick 0.3s linear forwards;
}
.js-active .menu__toggle__btn button:after {
  content: "閉";
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-animation: close 0.05s linear forwards;
          animation: close 0.05s linear forwards;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
  display: block;
}
@media screen and (max-width: 767px) {
  .js-active .menu__toggle__btn button:after {
    font-size: 2.4rem;
    margin-left: -2px;
    margin-top: 2px;
  }
}
.js-active .menu__toggle:hover .menu__toggle__btn button {
  opacity: 0.5;
}

@-webkit-keyframes lines {
  0% {
    width: 0;
  }
}

@keyframes lines {
  0% {
    width: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lineClick {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
  100% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
    display: none;
  }
}
@keyframes lineClick {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
  100% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
    display: none;
  }
}
@-webkit-keyframes close {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes close {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.ningen {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3000;
}
.ningen img {
  width: 100%;
}
.ningen__body {
  width: 57%;
  position: relative;
  margin-left: 37%;
  margin-bottom: -23%;
}
@media screen and (max-width: 767px) {
  .ningen__body {
    width: 67%;
    margin-left: 37%;
    margin-bottom: -33%;
  }
}
.ningen__arm {
  position: absolute;
  width: 32%;
  right: 49%;
  top: 11%;
  z-index: 3;
}
.ningen__face {
  position: absolute;
  z-index: 1;
  width: 59%;
  top: -17%;
  right: 5%;
  -webkit-animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
          animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
}
.ningen__face__eye__open {
  position: absolute;
  width: 38%;
  top: 31%;
  right: 53%;
  z-index: 2;
  -webkit-animation: eyeOpen 4s cubic-bezier(0.17, 0.67, 0.83, 0.67) 4s infinite;
          animation: eyeOpen 4s cubic-bezier(0.17, 0.67, 0.83, 0.67) 4s infinite;
}
.ningen__face__eye__open img {
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
          animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
}
.ningen__face__eye__close {
  position: absolute;
  width: 39%;
  top: 35%;
  right: 54%;
  z-index: 2;
  opacity: 0;
  -webkit-animation: eyeClose 4s cubic-bezier(0.17, 0.67, 0.83, 0.67) 4s infinite;
          animation: eyeClose 4s cubic-bezier(0.17, 0.67, 0.83, 0.67) 4s infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.ningen__face__eye__close img {
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
          animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
}

.comment {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .comment {
    display: none;
  }
}
.comment ul li {
  position: absolute;
  font-size: 1.3vw;
  opacity: 0;
}
@media screen and (max-width: 820px) {
  .comment ul li {
    font-size: 2vw;
  }
}
.comment__no1 {
  bottom: 50%;
  right: -17%;
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
          animation: fadeIn 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}
@media screen and (max-width: 767px) {
  .comment__no1 {
    bottom: 79%;
    right: -4%;
  }
}
.comment__no2 {
  bottom: 35%;
  left: 10%;
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
          animation: fadeIn 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.fukidashi {
  position: absolute;
  bottom: 55%;
  left: 0%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  -webkit-animation: fuwafuwa 3s infinite ease-in-out;
          animation: fuwafuwa 3s infinite ease-in-out;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
.fukidashi img {
  -webkit-animation: fukidashi 1s ease-out forwards;
          animation: fukidashi 1s ease-out forwards;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  opacity: 0;
}
.fukidashi:before, .fukidashi:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #ddd;
  opacity: 0;
  -webkit-animation: fadeIn 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
          animation: fadeIn 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
}
.fukidashi:before {
  left: 83%;
  top: 88%;
  width: 9%;
  height: 12%;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}
.fukidashi:after {
  left: 94%;
  top: 100%;
  width: 6%;
  height: 8%;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.fukidashi__comment {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
}
.fukidashi__comment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.fukidashi__comment ul li {
  font-size: 2.8vw;
  width: 0;
  overflow: hidden;
  display: inline-block;
  -webkit-animation: dots 6s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
          animation: dots 6s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  text-align: center;
  font-weight: 700;
}
@media screen and (max-width: 820px) {
  .fukidashi__comment ul li {
    font-size: 3.5vw;
  }
}
.fukidashi__comment ul li:not(:first-child) {
  display: none;
}
@media screen and (max-width: 767px) {
  .fukidashi__comment ul li {
    font-size: 4.8vw;
  }
}

@-webkit-keyframes face {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes face {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes eyeOpen {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes eyeOpen {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes eyeClose {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes eyeClose {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fukidashi {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fukidashi {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes dots {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes dots {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.landscape {
  display: none;
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
}

@media screen and (orientation: landscape) {
  .is-mobile .landscape {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #eeeeee;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .is-mobile .landscape__text p {
    font-weight: 700;
    font-size: 5vw;
  }
}
@media screen and (orientation: portrait) {
  .is-mobile .landscape {
    display: none;
  }
}
.scroll {
  display: inline-block;
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  z-index: 6000;
  font-weight: 700;
  font-size: 2.6rem;
  text-align: center;
}
@media screen and (max-width: 820px) {
  .scroll {
    width: auto;
    left: 5px;
    font-size: 2.3rem;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
  }
}
@media screen and (max-width: 767px) {
  .scroll {
    font-size: 1.2rem;
    left: 3px;
    bottom: 30px;
  }
}
.scroll:before, .scroll:after {
  content: "▼";
  position: absolute;
  line-height: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 700;
  color: #000000;
}
.scroll:before {
  bottom: -20px;
  z-index: 1;
}
@media screen and (max-width: 820px) {
  .scroll:before {
    bottom: -35px;
  }
}
@media screen and (max-width: 767px) {
  .scroll:before {
    bottom: -15px;
  }
}
.scroll:after {
  bottom: -35px;
}
@media screen and (max-width: 820px) {
  .scroll:after {
    bottom: -50px;
  }
}
@media screen and (max-width: 767px) {
  .scroll:after {
    bottom: -25px;
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.wrapper {
  overflow: hidden;
  position: relative;
}

.top.js-active .marker__s:before {
  -webkit-animation: marker__s 0.2s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
          animation: marker__s 0.2s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.top.js-active .marker__s span:before {
  -webkit-animation: fadeIn 1s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
          animation: fadeIn 1s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.top.js-active .marker__s span:after {
  -webkit-animation: fadeIn 0.3s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
          animation: fadeIn 0.3s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.mainarea {
  width: 100%;
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.mainarea:before {
  content: "";
  position: fixed;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  border-radius: 10px 50px/50px 10px;
  border: solid 5px #333;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2000;
}
@media screen and (max-width: 767px) {
  .mainarea:before {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
  }
}
.mainarea:after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  border: solid 50px #FFF;
  z-index: 2000;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .mainarea:after {
    border: solid 25px #FFF;
  }
}
.mainarea .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 50px;
  scroll-snap-align: start;
  overflow: visible;
}
@media screen and (max-width: 820px) {
  .mainarea .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.mainarea__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 40%;
  height: calc(100vh - 100px);
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 820px) {
  .mainarea__title {
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 3%;
  }
}
.mainarea__title h1 {
  border-top: solid 5px #333;
  border-bottom: solid 5px #333;
  padding: 5% 0;
  position: relative;
  width: 70%;
}
@media screen and (max-width: 820px) {
  .mainarea__title h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .mainarea__title h1 {
    border-top: solid 3px #333;
    border-bottom: solid 3px #333;
    width: 70%;
  }
}
.mainarea__title h1 .marker {
  width: 40%;
  bottom: 7%;
  left: 30px;
}
.mainarea__title h1 .marker span {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.mainarea__title h1 .marker span::before, .mainarea__title h1 .marker span::after {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
@media screen and (max-width: 767px) {
  .mainarea__title h1 .marker {
    width: 20%;
  }
}
.mainarea__title__text {
  padding: 6% 0 0;
}
.mainarea__title__text p {
  font-size: 1.4vw;
  font-weight: 500;
  line-height: 2.2;
}
@media screen and (max-width: 820px) {
  .mainarea__title__text p {
    font-size: 3vw;
    text-align: center;
  }
}
.mainarea__title__text .marker__s:before {
  -webkit-animation: none;
          animation: none;
}
.mainarea__title__text .marker__s span:before, .mainarea__title__text .marker__s span:after {
  -webkit-animation: none;
          animation: none;
}
.mainarea__images {
  position: relative;
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: calc(100vh - 100px);
}
@media screen and (max-width: 820px) {
  .mainarea__images {
    width: 64%;
    height: 58%;
  }
}
@media screen and (max-width: 767px) {
  .mainarea__images {
    width: 100%;
  }
}
.mainarea .thinking {
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: -1;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 820px) {
  .mainarea .thinking {
    bottom: 8%;
  }
}
@media screen and (max-width: 767px) {
  .mainarea .thinking {
    bottom: 6%;
  }
}
.mainarea .thinking p {
  font-weight: 700;
  font-size: 13vw;
  color: #eee;
  line-height: 1;
  display: inline-block;
  padding-right: 100px;
}
.mainarea .thinking p:first-child {
  -webkit-animation: think01 16s infinite linear;
          animation: think01 16s infinite linear;
}
.mainarea .thinking p:last-child {
  -webkit-animation: think01 16s infinite linear;
          animation: think01 16s infinite linear;
}
@media screen and (max-width: 820px) {
  .mainarea .thinking p {
    font-size: 20vw;
  }
}
@media screen and (max-width: 767px) {
  .mainarea .thinking p {
    font-size: 25vw;
  }
}

@-webkit-keyframes think01 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes think01 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes think02 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes think02 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
.about {
  position: relative;
  overflow: hidden;
  background-image: url(../img/town.svg);
  background-position: bottom left;
  background-size: 100%;
  background-repeat: repeat-x;
  border-top: dashed 3px #000000;
}
@media screen and (max-width: 767px) {
  .about {
    background-size: 130%;
  }
}
@media screen and (max-width: 767px) {
  .about .mainarea__title {
    top: -1%;
  }
  .about .mainarea__title h2 {
    text-align: center;
    font-size: 4vw;
    line-height: 1;
  }
  .about .mainarea__title h2 img {
    margin-bottom: 10px;
  }
}
.about.js-active:before {
  width: 100%;
}
.about.js-active .chair__deco {
  -webkit-animation: fadeIn 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
          animation: fadeIn 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
}
.about.js-active .marker__s:before {
  -webkit-animation: marker__s 0.2s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
          animation: marker__s 0.2s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.about.js-active .marker__s span:before {
  -webkit-animation: fadeIn 1s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
          animation: fadeIn 1s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.about.js-active .marker__s span:after {
  -webkit-animation: fadeIn 0.3s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
          animation: fadeIn 0.3s cubic-bezier(0.28, 0.99, 0.59, 0.82) forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.about:before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  width: 0;
  height: 100vh;
  background-image: url(../img/cloud.svg);
  background-size: 90vw auto;
  -webkit-animation: bgscroll 30s linear infinite;
          animation: bgscroll 30s linear infinite;
  background-repeat: repeat-x;
  z-index: -1;
  -webkit-transition: 3s width;
  transition: 3s width;
}
@media screen and (max-width: 767px) {
  .about:before {
    top: 55%;
  }
}
.about h2 {
  width: 70%;
  position: relative;
  font-size: 1.8vw;
}
.about h2 span {
  display: block;
  padding-bottom: 2%;
}

.chair {
  position: absolute;
  bottom: -50px;
  width: 53%;
  right: 5%;
}
@media screen and (max-width: 767px) {
  .chair {
    bottom: -75px;
    width: 72%;
    right: -4%;
  }
}
.chair__deco {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.chair__deco ul li {
  position: absolute;
}
.chair__deco ul li:first-child {
  width: 11%;
  left: 0%;
  top: -124%;
}
@media screen and (max-width: 767px) {
  .chair__deco ul li:first-child {
    left: 14%;
    top: -110%;
  }
}
.chair__deco ul li:last-child {
  width: 9%;
  left: 10%;
  top: -109%;
}
@media screen and (max-width: 767px) {
  .chair__deco ul li:last-child {
    top: -95%;
    left: 23%;
  }
}

@-webkit-keyframes bgscroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 90vw 0;
  }
}

@keyframes bgscroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 90vw 0;
  }
}
.works {
  background: #eeeeee;
  position: relative;
  overflow: hidden;
  border-top: dashed 3px #000000;
}
.works.js-active .works__img__sorry {
  -webkit-animation: sorry 0.5s linear forwards;
          animation: sorry 0.5s linear forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.works__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 100px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.works__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2%;
}
@media screen and (max-width: 767px) {
  .works__title {
    margin-top: -23%;
  }
}
.works__title h2 {
  width: 15%;
}
@media screen and (max-width: 820px) {
  .works__title h2 {
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  .works__title h2 {
    width: 40%;
    line-height: 1;
    margin-bottom: 10px;
    font-size: 4vw;
  }
}
.works__title h2 span {
  display: block;
  padding-top: 5px;
  margin-bottom: 2%;
}
@media screen and (max-width: 767px) {
  .works__title h2 span {
    padding-top: 10px;
  }
}
.works__title p {
  width: 100%;
  font-size: 1.2vw;
  font-weight: 500;
}
@media screen and (max-width: 820px) {
  .works__title p {
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 767px) {
  .works__title p {
    font-size: 3vw;
    padding-top: 6%;
  }
}
.works__list {
  position: relative;
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .works__list {
    padding-top: 6%;
  }
}
.works__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.works__list ul li {
  width: 40%;
  max-width: 340px;
  -webkit-filter: drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.3));
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
@media screen and (max-width: 820px) {
  .works__list ul li {
    width: 50%;
    max-width: 320px;
  }
}
@media screen and (max-width: 767px) {
  .works__list ul li {
    width: 85%;
  }
}
.works__list__detail {
  border: solid 5px #000000;
  border-radius: 10px;
  background: #FFF;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .works__list__detail {
    border: solid 3px #000000;
  }
}
.works__list__name {
  padding: 5%;
}
.works__list__name h3 {
  font-size: 1.4vw;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .works__list__name h3 {
    font-size: 3.2vw;
  }
}
.works__list__name p {
  font-size: 1.2vw;
}
@media screen and (max-width: 767px) {
  .works__list__name p {
    font-size: 3vw;
  }
}
.works__img {
  position: absolute;
  bottom: -10%;
  right: -10%;
  width: 50%;
}
@media screen and (max-width: 820px) {
  .works__img {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .works__img {
    width: 100%;
    bottom: -8%;
  }
}
.works__img__ningen {
  position: absolute;
  width: 25%;
  left: 50%;
  top: -100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .works__img__ningen {
    left: 54%;
  }
}
.works__img__ana {
  position: absolute;
  width: 72%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: blur(6px);
          filter: blur(6px);
  opacity: 0;
}
.works__img__hibi {
  width: 100%;
  opacity: 0;
}
.works__img__sorry {
  position: absolute;
  right: 40%;
  bottom: 61%;
  width: 25%;
  opacity: 0;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(316deg);
          transform: rotate(316deg);
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .works__img__sorry {
    right: 35%;
  }
}
.works__img__sorry p {
  font-size: 1.8vw;
  font-weight: 700;
  color: #666;
}
@media screen and (max-width: 767px) {
  .works__img__sorry p {
    font-size: 3vw;
  }
}

@-webkit-keyframes sorry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sorry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ningen02 {
  0% {
    opacity: 0;
    width: 0;
    top: -100%;
  }
  100% {
    opacity: 1;
    width: 20%;
    top: 50%;
  }
}
@keyframes ningen02 {
  0% {
    opacity: 0;
    width: 0;
    top: -100%;
  }
  100% {
    opacity: 1;
    width: 20%;
    top: 50%;
  }
}
.contact {
  background: #eeeeee;
  position: relative;
  overflow: hidden;
  border-top: dashed 3px #000000;
}
.contact__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__title h2 {
  width: 15%;
}
.contact__title h2 span {
  display: block;
  padding-top: 5px;
}
@media screen and (max-width: 767px) {
  .contact__title h2 span {
    padding-top: 10px;
    font-size: 4vw;
  }
}
@media screen and (max-width: 820px) {
  .contact__title h2 {
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  .contact__title h2 {
    width: 40%;
    line-height: 1;
    margin-bottom: 10px;
  }
}
.contact__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 100px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.contact__talk {
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  max-width: 480px;
}
@media screen and (max-width: 820px) {
  .contact__talk {
    margin: 6% 0 3%;
    width: 55%;
  }
}
@media screen and (max-width: 767px) {
  .contact__talk {
    width: 100%;
    margin: 8% 0 5%;
  }
}
.contact__talk ul {
  width: 100%;
}
.contact__talk ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 1%;
}
@media screen and (max-width: 767px) {
  .contact__talk ul li {
    margin-bottom: 3%;
  }
}
.contact__talk ul li p {
  background: #FFF;
  line-height: 1;
  padding: 10px 20px 11px;
  border-radius: 20px;
  font-size: 1.2vw;
  font-weight: 500;
  position: relative;
}
@media screen and (max-width: 820px) {
  .contact__talk ul li p {
    font-size: 2vw;
  }
}
@media screen and (max-width: 767px) {
  .contact__talk ul li p {
    font-size: 3vw;
  }
}
.contact__talk ul li p:before {
  content: "";
  position: absolute;
  top: calc(100% - 10px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
}
.contact__talk__you picture, .contact__talk__me picture {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: solid 3px #000000;
  position: relative;
  margin: 0 2%;
}
.contact__talk__you picture img, .contact__talk__me picture img {
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.contact__talk__you picture {
  background: #7dded8;
}
.contact__talk__you p:before {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.contact__talk__me {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.contact__talk__me picture {
  background: #f4f433;
}
.contact__talk__me p:before {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.contact__text {
  text-align: center;
}
.contact__text p {
  font-size: 1.2vw;
  font-weight: 500;
}
@media screen and (max-width: 820px) {
  .contact__text p {
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 767px) {
  .contact__text p {
    font-size: 3vw;
    line-height: 2.3;
  }
  .contact__text p br {
    display: none;
  }
}
.contact__text a {
  text-decoration: underline;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 5px;
  position: relative;
  z-index: 3000;
  display: block;
}
.contact__text a:hover {
  opacity: 0.5;
}
@media screen and (max-width: 820px) {
  .contact__text a {
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 767px) {
  .contact__text a {
    font-size: 3vw;
  }
}
.contact__snsbtn {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  position: relative;
  z-index: 3000;
}
.contact__snsbtn a {
  display: block;
}
.contact__snsbtn a img {
  -webkit-filter: drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.3));
}
.contact__snsbtn a img:hover {
  -webkit-animation: purupuru 0.2s forwards;
          animation: purupuru 0.2s forwards;
}

@-webkit-keyframes purupuru {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }
  50% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  75% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes purupuru {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }
  50% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  75% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
