/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./asset_src/stylesheets/style.scss ***!
  \*****************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: auto;
}
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-delay: -1ms;
            animation-delay: -1ms;
    -webkit-animation-duration: 1ms;
            animation-duration: 1ms;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    background-attachment: initial;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}

html {
  background: inherit;
  vertical-align: baseline;
  word-break: normal;
  color: inherit;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
  overflow: visible;
}
hr:not([size]) {
  height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit inherit 500 unset/1.2 inherit;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0;
}

abbr[title],
abbr[data-bs-original-title],
acronym[title],
acronym[data-bs-original-title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  font: normal inherit inherit/inherit inherit;
  margin: 0;
}

ol,
ul {
  padding-left: 0;
}

ol,
ul,
dl {
  margin: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

dt {
  margin: 0;
}

dd {
  margin: 0;
}

blockquote {
  margin: 0;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.2em;
  background-color: currentColor;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  cursor: pointer;
  color: #3333e1;
  background-color: transparent;
  text-decoration: none;
  word-break: break-word;
}
a:hover {
  color: #3434e0;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:not([href]):not(class), a:not([href]):not([class]):hover {
  cursor: default;
  color: inherit;
  text-decoration: none;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

pre,
code,
kbd,
samp {
  font: 1.05em "Fira Code", "Cascadia Code", Consolas, "Inconsolata", Monaco, Menlo, "Noto Mono", "Roboto Mono", "Droid Sans Mono", "Ubuntu Mono", "Ubuntu Monospace", "Source Code Pro", "Oxygen Mono", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.875em;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: inherit;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: inherit;
  background-color: inherit;
  border-radius: 0.2rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0;
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: top;
}

svg:not([fill]) {
  fill: currentColor;
}
svg:not(:root) {
  overflow: hidden;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
  text-indent: 0;
  border-color: currentColor;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: inherit;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
  text-transform: none;
}
button:focus {
  outline: dotted 1px;
  outline: -webkit-focus-ring-color auto 5px;
}

input,
button {
  overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-transform: none;
  word-wrap: normal;
}
select:not([multiple]):not([size]) {
  background-image: "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E";
}

::-ms-expand {
  display: none;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(disabled),
[type=button]:not(disabled),
[type=reset]:not(disabled),
[type=submit]:not(disabled) {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
  -ms-overflow-style: scrollbar;
  resize: vertical;
  vertical-align: top;
}

fieldset {
  min-width: 0;
  padding: 0.35em 0.75em 0.625em;
  margin: 0;
  border: 1px solid inherit;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
  max-width: 100%;
  white-space: normal;
}
@media (max-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

input::-webkit-input-placeholder {
  opacity: 1;
}

input::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder {
  opacity: 1;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

[type=tel],
[type=url],
[type=email],
[type=number] {
  direction: ltr;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-moz-ui-invalid {
  box-shadow: none;
}

::-moz-focusring {
  outline: 1px dotted ButtonText;
}

output {
  display: inline-block;
}

iframe {
  border: none;
}

audio,
canvas,
video {
  display: inline;
  display: inline-block;
  zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden=false][hidden=false] {
  display: initial;
}
[aria-hidden=false][hidden=false]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

html {
  font-size: 62.5%;
}

body {
  color: #000000;
  font-size: 1.6em;
  line-height: 1.9;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0;
  position: relative;
  cursor: none;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.loading {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
.loading__mask img {
  width: 600px;
}

.cursor {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.cursor {
  width: 8px;
  height: 8px;
  background-color: #000000;
  z-index: 20000;
}
.cursor::before, .cursor::after {
  content: "";
  position: absolute;
  border: solid 2px #000000;
  border-radius: 50%;
}
.cursor:before {
  width: 14px;
  height: 14px;
  left: -3px;
  top: -3px;
  -webkit-animation: flash 1s linear infinite;
          animation: flash 1s linear infinite;
}
.cursor:after {
  width: 20px;
  height: 20px;
  left: -6px;
  top: -6px;
  -webkit-animation: flash 1s linear infinite;
          animation: flash 1s linear infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.cursor.js-menu {
  background-color: #f4f433;
}
.cursor.js-menu:before, .cursor.js-menu:after {
  border-color: #f4f433;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
.menu__list {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5000;
  pointer-events: none;
}
.menu__list__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list__wrap ul {
  position: relative;
  z-index: 1;
  opacity: 0;
}
.menu__list__wrap ul li {
  text-align: center;
}
.menu__list__wrap ul li a {
  color: #FFF;
  font-size: 2.5rem;
  padding: 20px;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}
.menu__list__wrap ul li a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #FFF;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu__list__wrap ul li a:hover {
  letter-spacing: 6px;
}
.menu__list__wrap ul li a:hover:after {
  width: 100%;
}
.menu__list:before, .menu__list:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 33.3333333333%;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu__list:before {
  top: 0;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu__list:after {
  bottom: 0;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu__list__wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.menu__list__wrap:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 33.3333333333%;
  background: rgba(0, 0, 0, 0.9);
  top: 33.3333333333%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu__toggle {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 3%;
  right: 1.5%;
  border-radius: 50%;
  background: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 6000;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu__toggle:hover {
  background: #f4f433;
}
.menu__toggle:hover .js-close button:before {
  -webkit-animation: lines 0.15s linear forwards;
          animation: lines 0.15s linear forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.menu__toggle:hover .js-close:before, .menu__toggle:hover .js-close:after {
  -webkit-animation: lines 0.2s linear forwards;
          animation: lines 0.2s linear forwards;
}
.menu__toggle:hover .js-close:after {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.menu__toggle__btn {
  width: 40px;
  height: 40px;
  position: relative;
}
.menu__toggle__btn button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  outline: none;
}
.menu__toggle__btn button:before {
  content: "";
  height: 3px;
  background: #000000;
  width: 30px;
  line-height: 0;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 0;
}
.menu__toggle__btn:before, .menu__toggle__btn:after {
  content: "";
  position: absolute;
  height: 3px;
  background: #000000;
  right: 0;
}
.menu__toggle__btn:before {
  top: 10px;
  width: 20px;
}
.menu__toggle__btn:after {
  bottom: 10px;
  width: 40px;
}

.js-active .menu__list {
  pointer-events: initial;
}
.js-active .menu__list:before, .js-active .menu__list:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.js-active .menu__list__wrap ul {
  -webkit-animation: fadeIn 0.3s linear forwards;
          animation: fadeIn 0.3s linear forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.js-active .menu__list__wrap:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.js-active .menu__toggle:hover {
  background: #eeeeee;
}
.js-active .menu__toggle__btn:before, .js-active .menu__toggle__btn:after {
  -webkit-animation: lineClick 0.3s linear forwards;
          animation: lineClick 0.3s linear forwards;
}
.js-active .menu__toggle__btn button:before {
  -webkit-animation: lineClick 0.3s linear forwards;
          animation: lineClick 0.3s linear forwards;
}
.js-active .menu__toggle__btn button:after {
  content: "閉";
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-animation: close 0.05s linear forwards;
          animation: close 0.05s linear forwards;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
  display: block;
}
.js-active .menu__toggle:hover .menu__toggle__btn button {
  opacity: 0.5;
}

@-webkit-keyframes lines {
  0% {
    width: 0;
  }
}

@keyframes lines {
  0% {
    width: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lineClick {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
  100% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
    display: none;
  }
}
@keyframes lineClick {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
  }
  100% {
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
    display: none;
  }
}
@-webkit-keyframes close {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes close {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.ningen {
  position: absolute;
  bottom: -20%;
  width: 100%;
  z-index: 3000;
}
.ningen img {
  width: 100%;
}
.ningen__body {
  width: 57%;
  position: relative;
  margin-left: 37%;
}
.ningen__arm {
  position: absolute;
  width: 32%;
  right: 49%;
  top: 11%;
  z-index: 3;
}
.ningen__face {
  position: absolute;
  z-index: 1;
  width: 59%;
  top: -17%;
  right: 5%;
  -webkit-animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
          animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
}
.ningen__face__eye__open {
  position: absolute;
  width: 38%;
  top: 31%;
  right: 53%;
  z-index: 2;
  -webkit-animation: eyeOpen 4s cubic-bezier(0.17, 0.67, 0.83, 0.67) 4s infinite;
          animation: eyeOpen 4s cubic-bezier(0.17, 0.67, 0.83, 0.67) 4s infinite;
}
.ningen__face__eye__open img {
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
          animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
}
.ningen__face__eye__close {
  position: absolute;
  width: 39%;
  top: 35%;
  right: 54%;
  z-index: 2;
  opacity: 0;
  -webkit-animation: eyeClose 4s cubic-bezier(0.17, 0.67, 0.83, 0.67) 4s infinite;
          animation: eyeClose 4s cubic-bezier(0.17, 0.67, 0.83, 0.67) 4s infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.ningen__face__eye__close img {
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
          animation: face 3s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
}

.comment {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.comment ul li {
  position: absolute;
  font-size: 1.3vw;
  opacity: 0;
}
.comment__no1 {
  bottom: 50%;
  right: -17%;
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
          animation: fadeIn 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
.comment__no2 {
  bottom: 35%;
  left: 10%;
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
          animation: fadeIn 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.fukidashi {
  position: absolute;
  bottom: 55%;
  left: 0%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  -webkit-animation: fuwafuwa 3s infinite ease-in-out;
          animation: fuwafuwa 3s infinite ease-in-out;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.fukidashi img {
  -webkit-animation: fukidashi 1s ease-out forwards;
          animation: fukidashi 1s ease-out forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  opacity: 0;
}
.fukidashi:before, .fukidashi:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #ddd;
  opacity: 0;
  -webkit-animation: fadeIn 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
          animation: fadeIn 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
}
.fukidashi:before {
  left: 83%;
  top: 88%;
  width: 9%;
  height: 12%;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.fukidashi:after {
  left: 94%;
  top: 100%;
  width: 6%;
  height: 8%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.fukidashi__comment {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
}
.fukidashi__comment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.fukidashi__comment ul li {
  font-size: 2.8vw;
  width: 0;
  overflow: hidden;
  display: inline-block;
  -webkit-animation: dots 6s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
          animation: dots 6s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  text-align: center;
  font-weight: 700;
}
.fukidashi__comment ul li:not(:first-child) {
  display: none;
}

@-webkit-keyframes face {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes face {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes eyeOpen {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes eyeOpen {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes eyeClose {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes eyeClose {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fukidashi {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fukidashi {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes dots {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes dots {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.wrapper {
  overflow: hidden;
  position: relative;
}

.mainarea {
  width: 100%;
  height: 100%;
}
.mainarea:before {
  content: "";
  position: fixed;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  border-radius: 10px 50px/50px 10px;
  border: solid 5px #333;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2000;
}
.mainarea:after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  border: solid 50px #FFF;
  z-index: 2000;
  top: 0;
  left: 0;
}
.mainarea .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 50px;
}
.mainarea__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 40%;
  height: calc(100vh - 100px);
  position: relative;
}
.mainarea__title h1 {
  border-top: solid 5px #333;
  border-bottom: solid 5px #333;
  padding: 5% 0;
  position: relative;
  width: 70%;
}
.mainarea__title__text {
  padding: 6% 0 0;
}
.mainarea__title__text p {
  font-size: 1.4vw;
  font-weight: 500;
  line-height: 2.2;
}
.mainarea__images {
  position: relative;
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: calc(100vh - 100px);
}
.mainarea .thinking {
  position: absolute;
  bottom: 7%;
  left: 0;
  z-index: -1;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.mainarea .thinking p {
  font-weight: 700;
  font-size: 15vw;
  color: #eee;
  line-height: 1;
  display: inline-block;
  padding-right: 100px;
}
.mainarea .thinking p:first-child {
  -webkit-animation: think01 16s infinite linear;
          animation: think01 16s infinite linear;
}
.mainarea .thinking p:last-child {
  -webkit-animation: think01 16s infinite linear;
          animation: think01 16s infinite linear;
}

@-webkit-keyframes think01 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes think01 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes think02 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes think02 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
.about {
  position: relative;
  overflow: hidden;
}
.about.js-active:before {
  width: 100%;
}
.about.js-active .chair__deco {
  -webkit-animation: fadeIn 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
          animation: fadeIn 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
}
.about:before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 0;
  height: 100vh;
  background-image: url(../img/cloud.svg);
  background-size: 90vw auto;
  -webkit-animation: bgscroll 30s linear infinite;
          animation: bgscroll 30s linear infinite;
  background-repeat: repeat-x;
  z-index: -1;
  -webkit-transition: 3s width;
  transition: 3s width;
}
.about h2 {
  width: 70%;
}
.about h2 span {
  display: block;
  font-size: 1.8vw;
  padding-top: 2%;
}

.chair {
  position: absolute;
  bottom: 0;
  width: 53%;
  right: 5%;
}
.chair__deco {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.chair__deco ul li {
  position: absolute;
}
.chair__deco ul li:first-child {
  width: 11%;
  left: 0%;
  top: -124%;
}
.chair__deco ul li:last-child {
  width: 9%;
  left: 10%;
  top: -109%;
}

@-webkit-keyframes bgscroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 90vw 0;
  }
}

@keyframes bgscroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 90vw 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.works {
  background: #eeeeee;
  position: relative;
  height: calc(100vh - 100px) !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.works:before {
  content: "";
  height: 50px;
  width: 100%;
  background: #eeeeee;
  position: absolute;
  left: 0;
  bottom: 100%;
}
.works__title {
  width: 100%;
}
