
@use "../config/config" as config;
//base css sets

html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
body {
    color: config.$textcolor; 
    font-size: 1.6em;
    line-height: 1.9;
    font-family: 'Notosans', sans-serif;
    letter-spacing: 0;
    position: relative;
    cursor: none;
}


a {
    outline: none; 
    text-decoration: none;
    transition: .2s;
    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}


