@use "../config/config"as config;
@use "../mixin/mixin"as mixin;


.wrapper{
    overflow: hidden;
    position: relative;
}
.top{
    .marker__s{
        &:before{
            animation-delay: 6s;
        }
        span{
            
            &:before,
            &:after{
                animation-delay: 6s;
            }
        }
        
    }
}
.mainarea{
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    
    &:before{
        content: "";
        position: fixed;
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        border-radius: 10px 50px/50px 10px;
        border: solid 5px #333;
        left: 50%;
        top: 50%;
        transform:translate(-50%,-50%);
        z-index:2000;
        @include config.mq(){
            width: calc(100% - 50px);
            height: calc(100% - 50px);
        }
    }
    &:after{
        content: "";
        position: fixed;
        width:100%;
        height: 100%;
        border: solid 50px #FFF;
        z-index:2000;
        top: 0;
        left: 0;
        @include config.mq(){
            border: solid 25px #FFF;
        }
    }
   
    .container{
        position:relative;
        display: flex;
        justify-content: center;
        height: 100%;
        padding: 50px;
        scroll-snap-align: start;
        overflow:visible;
        @include config.mq(md){
            flex-flow:column;
            align-items: center;
            justify-content: flex-end;
        }
    }

    &__title{
        display: flex;
        justify-content: center;
        flex-flow:column;
        width: 40%;
        height: calc(100vh - 100px);
        position: relative;
        z-index: 1;
        @include config.mq(md){
            width: 100%;
            height: auto;
            align-items: center;
            top: 5%;
        }
        
       
        h1{
            border-top: solid 5px #333;
            border-bottom: solid 5px #333;
            padding: 5% 0;
            position: relative;
            width: 70%;
            @include config.mq(md){
                display: flex;
                justify-content: center;
                text-align: center;
                width: 60%;
            }
            @include config.mq(sm){
                border-top: solid 3px #333;
                border-bottom: solid 3px #333;
                width: 70%;
            }

            
            .marker {
                width: 40%;
                bottom: 7%;
                left: 30px;
                span{
                    animation-delay: 5s;
                    &::before,
                    &::after{
                        animation-delay: 5s;
                    }
                }
                @include config.mq(sm){
                    width: 20%;
                }
            }
        }
        &__text{
            padding: 6% 0 0;
            p{
                font-size: 1.4vw;
                font-weight: 500;
                line-height: 2.2;
                @include config.mq(md){
                    font-size: 3vw;
                    text-align: center;
                }
                
            }
        }
    }
    &__images{
        position: relative;
        width: 40%;
        justify-content: flex-end;
        flex-flow:column;
        height: calc(100vh - 100px);
        @include config.mq(md){
            width: 64%;
            height: 58%;
        }
        @include config.mq(sm){
            width: 100%;
        }

    }

    .thinking{
        position: absolute;
        bottom: 60px;
        left: 0;
        z-index:-1; 
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        @include config.mq(md){
            bottom: 8%;
        }
        @include config.mq(sm){
            bottom: 6%;
        }
        p{
            font-weight: 700;
            font-size: 13vw;
            color: #eee;
            line-height: 1;
            display: inline-block;
            padding-right: 100px;
            &:first-child{
                animation: think01 16s infinite linear;
            }
            &:last-child{
                animation: think01 16s infinite linear;
            }
            @include config.mq(md){
                font-size: 20vw;
            }
            @include config.mq(sm){
                font-size: 25vw;
            }
        }

    }
    
   
    
}

@keyframes think01 {
    0% {
    transform: translateX(0);
    }
  
    100% {
    transform: translateX(-100%);
    }
  }

  @keyframes think02 {
    0% {
    transform: translateX(0);
    }
  
    100% {
    transform: translateX(-200%);
    }
  }