@use "../config/config"as config;


.works{
    background:config.$subcolor;
    position: relative;
    height: calc(100vh - 100px) !important;
    flex-wrap: wrap;
    &:before{
        content: "";
        height: 50px;
        width:100%;
        background:config.$subcolor;
        position: absolute;
        left: 0;
        bottom: 100%;
    }
    &__title{
        width: 100%;
    }
}