@use "../config/config"as config;


.works {
    background: config.$subcolor;
    position: relative;
    overflow-x: hidden;
    border-top: dashed 3px config.$textcolor;

    &.js-active{
        .works__img__sorry{
            animation: sorry .5s linear forwards;
            animation-delay: 1s;
        }
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: calc(100vh - 100px);
        flex-direction: column;
        justify-content: center;
        width: 100%;
       
        
    }

    &:before {
        content: "";
        height: 50px;
        width: 100%;
        background: config.$subcolor;
        position: absolute;
        left: 0;
        bottom: 100%;
    }

    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        margin-bottom: 2%;
        @include config.mq(sm){
            margin-top: -23%;
        }

        h2 {
            width: 15%;
            
            @include config.mq(md){
                width: 30%;
            }
            @include config.mq(sm){
                width: 40%;
                line-height: 1;
                margin-bottom: 10px;
                font-size: 4vw;
            }

            span {
                display: block;
                padding-top: 5px;
                margin-bottom: 2%;
                @include config.mq(sm){
                    padding-top: 10px;
                }
            }
        }

        p {
            width: 100%;
            font-size:1.2vw;
            font-weight: 500;
            @include config.mq(md){
                font-size: 2.3vw;
            }
            @include config.mq(sm){
                font-size: 3vw;
                padding-top: 6%;
                br{
                    display: none;
                }
            }
        }
    }

    &__list {
        position: relative;
        z-index: 1;
        width: 100%;
        @include config.mq(sm){
            padding-top: 6%;
         }

        ul {
            display: flex;
            justify-content: center;
            width: 100%;

            li {
                width: 40%;
                max-width: 340px;
                @include config.mq(md){
                    width: 50%;
                    max-width: 320px;
                }
                @include config.mq(sm){
                    width: 85%;
                }
            }
        }

        &__detail {
            border: solid 5px config.$textcolor;
            border-radius: 10px;
            background: #FFF;
            overflow: hidden;
            @include config.mq(sm){
                border: solid 3px config.$textcolor;;
            }
        }

        &__name {
            padding: 5%;
            h3{
                font-size: 1.4vw;
                font-weight: 700;
                @include config.mq(sm){
                    font-size: 3.2vw;
                }
            }
            
            p{
                font-size: 1.2vw;
                @include config.mq(sm){
                    font-size: 3vw;
                }
            }
        }
    }

    &__img {
        position: absolute;
        bottom: -10%;
        right: -10%;
        width: 50%;
        @include config.mq(md){
            width: 80%;
        }
        @include config.mq(sm){
            width: 100%;
            bottom: -8%;
           
        }

        &__ningen {
            position: absolute;
            width: 25%;
            left: 50%;
            top: -100%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            opacity: 0;
            @include config.mq(sm){
               left: 54%;
            }

        }

        &__ana {
            position: absolute;
            width: 72%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            filter: blur(6px);
            opacity: 0;
        }

        &__hibi {
            width: 100%;
            opacity: 0;
        }

        &__sorry {
            position: absolute;
            right: 40%;
            bottom: 61%;
            width: 25%;
            opacity: 0;
            transform-origin: left bottom;
            transform: rotate(316deg);
            z-index: 1;
            @include config.mq(sm){
                right: 35%;
            }
            p {
                font-size: 1.8vw;
                font-weight: 700;
                color: #666;
            }
        }
    }

}

@keyframes sorry {
    0% {
       opacity: 0;
     
    }

    100% {
        opacity: 1;
        
    }
}

@keyframes ningen02 {
    0% {
       opacity: 0;
       width: 0;
       top: -100%;
    }

    100% {
        opacity: 1;
        width: 20%;
        top: 50%;
    }
}